html{
    height:100%;
    background:radial-gradient(#e9e9e9, #4a90e2);
    
}

.text-center{
    text-align: center;
}

h4{
    font-family: 'Open Sans', 'Arial';
    color: white;
    font-size: 2em;
    font-weight: 300;
}
h4 sup{
    font-size: 1.3rem;
    /* vertical-align: middle; */
    margin:0px;
    padding:0px;
}

p {
    font-family: 'roboto', 'arial';
    color:white;
    font-size: 1.9em;
    font-weight:400;
    margin: 20px 30px;
    padding-bottom: 20px;
    font-size-adjust: 0.5;
}

.btn-style{
    background: #9013fe;
    color:#fff;
    font-family: 'roboto', 'arial';
    text-decoration: unset;
    font-size:1.3rem;
    border-radius: 40px;
    padding: 10px 25px;
    font-weight: 300;
}

.btn-placement{
    /* margin: 30px 10px; */
    /* margin-top: 70px; */
    padding: 10px;
    text-align: right;
    /* position: absolute; */
    position:relative;
    /* top: 80%; */
    /* right: 5%; */
}

.finding-satellites{
    text-align:center;
    margin-top: 30px;
}

.sat {
    display: flex;
    justify-content: space-around;
}

.sat-found{
    display: flex;
    justify-content: end;
}

.spinner-class{
    position: absolute;
    top: 45%;
    left:40%;
}

.clock-container{
    margin:auto;
    position:relative;
}

.clockBase{
    position: relative;
}

.inner-ring {
    position: absolute;
    margin:100px;
}

.long-hand{
    position: absolute;
    left: 48%;
    margin-top: 30px;
}

.short-hand{
    position: absolute;
    left: 48.5%;
    margin-top: 60px;
    transform: rotate(230deg);
    transform-origin: 50% 125%;
}

.text-style{
    position: absolute;
    top: 61%;
    font-size: 1.5rem;
    font-family: 'roboto';
    font-weight: bold;
    color: #9013fe;
    left: 39%;
}

@media screen and (min-width:768px){
    .text-align-media{
         top:61%;
         left:46%;
    }
}




