html{
    height:100%;
    background:radial-gradient(rgba(74,144,226, 0.45), #4a90e2);
}




h4{
    font-family: 'Open Sans', 'Arial';
    color: white;
    font-size: 2.3em;
    font-weight: 300;
    text-align: center;
}
h4 sup{
    font-size: 1.3rem;
    /* vertical-align: middle; */
    margin:0px;
    padding:0px;
}

p {
    font-family: 'roboto', 'arial';
    color:white;
    font-size: 1.5em;
    font-weight:400;
    margin: 20px 30px;
    padding-bottom: 20px;
    font-size-adjust: 0.5;
    text-align: center;
}


#root{
    height:100%;
}


.text-center{
    text-align: center;
}


.flex-style-box{
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    height:100%;
}

.earth-sat{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: stretch;
}


.btn-style{
    background: #9013fe;
    color:#fff;
    font-family: 'roboto', 'arial';
    text-decoration: unset;
    font-size:1.3rem;
    border-radius: 40px;
    padding: 10px 25px;
    font-weight: 300;

}

.btn-placement{
    /* margin: 30px 10px; */
    /* margin-top: 70px; */
    padding: 10px;
    text-align: right;
    /* position: absolute; */
    position:relative;
    margin-top: 20%;
    margin-bottom:20%;
}

.finding-satellites{
    text-align:center;
    margin-top: 30px;
}

.sat {
    display: flex;
    justify-content: space-around;
}

.sat-found{
    display: flex;
    justify-content: end;
}

.spinner-class{
    position: absolute;
    top: 35%;
    left:40%;
}

.clock-container{
    margin:auto;
    position:relative;
}

.clockBase{
    position: relative;
}

.inner-ring {
    position: absolute;
    margin:100px;
}

.long-hand{
    position: absolute;
    left: 47%;
    margin-top: 30px;
}

.short-hand{
    position: absolute;
    left: 48%;
    margin-top: 60px;
    transform: rotate(230deg);
    transform-origin: 50% 125%;
}

.text-style{
    width: 100%;
    height: 100%;
    text-align:center;
    margin-top: 65%;
    position: absolute;
    font-size: 1.5rem;
    font-family: 'roboto';
    font-weight: bold;
    color: #9013fe;
}


.compass-img{
    max-width: 100px;
    min-width: 20%;
    height: auto;
    margin:auto;

}



